* {
  font-family: "Poppins", sans-serif !important;
  font-family: "Ubuntu", sans-serif !important;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.features__container {
  width: 97%;
  margin-left: 0.9rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  padding: 0.5rem;

  height: 500px;
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 2rem;
}

.features__container-left {
  margin-left: 2rem;
  margin-top: 3rem;
}

.features__container-right {
  margin-top: 3rem;
}

.second {
  background: #eae9e9;
  border-radius: 5px;
  height: 15rem;
  padding: 1rem;
  color: purple;
}

.second:hover {
  border: 1px solid black;
}

.second:active {
  color: black;
}

.date {
  margin-bottom: 0.5rem;
  color: blue;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

.text {
  margin-bottom: 1rem;
  font-weight: bolder;
}

.inside {
  display: grid;
  grid-template-columns: 10% 80%;
  gap: 2rem;
  padding: 0.5rem;
}

.inside img {
  width: 40px;
  border-radius: 50%;
}

.name__text {
  margin-top: 10rem;
}

.view__events {
  display: block;
  font-size: 1.4rem;
  text-align: center;
  cursor: pointer;
  margin-top: 3rem;
  color: blue;
}

.view__events:hover {
  font-size: 1.2rem;
}
.mySwiper {
  height: 15rem;
  width: inherit;
  max-width: 240px;
  background: #eae9e9;
  border-radius: 5px;
}

.events__container {
  width: 97%;
  background: #fff;
  box-shadow: rgba(1, 41, 112, 0.1);
  margin-left: 0.9rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.events__text {
  font-size: 2.2rem;
  color: blue;
  margin-left: 3rem;
  margin-top: 0.8rem;
}

.events__body {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .events__container {
    width: 93%;
    height: 45rem;
  }

  .events__text {
    text-align: center;
    margin: 0;
  }

  .events__body {
    display: block;
  }

  .right__events {
    margin-top: 4rem;
  }
  .features__container {
    width: 93%;
    display: block;
    height: inherit;
    padding: 1rem;
  }
  .features__container-left {
    margin-left: 0;
  }
}
